[submodule "devroast"]
	path = devroast
	url = https://github.com/gabrielsrs/devroast.git
[submodule "computer-vision"]
	path = computer-vision
	url = https://github.com/gabrielsrs/computer-vision.git
